html
  head
    title #{fromCurr} to #{toCurr} | Bitcoin Price Converter
    // link(rel="stylesheet" href="css/style.css")
    // link(rel="icon" href="public/favicon.ico")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Barlow")
  body
    script.
      var c = #{rate}
      function myFunction1() {
          document.getElementById('fiat_out').value = (parseFloat(document.getElementById('btc_in').value) * c).toFixed(2);
        }
        function myFunction2() {
          document.getElementById('btc_in').value = (parseFloat(document.getElementById('fiat_out').value) / c).toFixed(4);
        }
    .container-fluid
      h1(style='display: inline-block; font-family: Barlow') #{fromCurr} -> #{toCurr}
      div(class='col-xs-offset-0 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 form-group')
      input(class='in col-xs-4 col-sm-3 col-md-2 col-lg-2', style='border: 2px solid #00fcc6; border-radius: 5px; display: inline-block; font-size: 200%; width: 250px;', type='text', name='btc_in', id='btc_in', value=1, onkeyup='myFunction1()')
      label(class='col-xs-2 col-sm-2 col-md-2 col-lg-1', style='font-family: Barlow; font-size: 200%;')  #{fromCurr}
      p(class='col-xs-4 col-sm-3 col-md-2 col-lg-2', style='font-family: Barlow; font-size: 200%; padding-left: 125px;') =
      input(class='in col-xs-4 col-sm-3 col-md-2 col-lg-2', style='border: 2px solid #00fcc6; border-radius: 5px; display: inline-block; font-size: 200%; width: 250px;', type='text', name='fiat_out', id='fiat_out', value= rate, onkeyup='myFunction2()')
      label(class='col-xs-2 col-sm-2 col-md-2 col-lg-1', style='font-family: Barlow; font-size: 200%;')  #{toCurr}
      <br><br>
      h4(style='display: inline-block; font-family: Barlow') Client IP: #{cIP}
